{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Bootstrap Search Bar -->
<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="search">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary mx-3 bg-info" type="button">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div>
        {{ error }}
    </div>

    <div class="row">
        {% for item in items %}
        {% include 'components/card.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}